.u-section-1 {background-image: linear-gradient(#68086f, #db545a)}
.u-section-1 .u-sheet-1 {min-height: 118px}
.u-section-1 .u-text-1 {text-transform: uppercase; font-size: 1.875rem; width: 504px; margin: 41px auto} 

@media (max-width: 575px){ .u-section-1 .u-text-1 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 1583px}
.u-section-2 .u-text-1 {font-size: 1rem; margin: 38px 0 0}
.u-section-2 .u-btn-1 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 32px auto 0 0}
.u-section-2 .u-btn-2 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-3 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-3 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-4 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-4 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-5 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-5 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-6 {font-size: 1rem; margin: 20px 0 0}
.u-section-2 .u-btn-6 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-7 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-7 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-8 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-8 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-9 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-9 {font-size: 1.125rem; padding: 0}
.u-section-2 .u-text-10 {font-size: 1rem; margin: 20px 0}
.u-section-2 .u-btn-10 {font-size: 1.125rem; padding: 0} 

@media (max-width: 1199px){ .u-section-2 .u-btn-1 {width: 1016px; height: 22px}
.u-section-2 .u-btn-2 {width: 1016px; height: 22px}
.u-section-2 .u-btn-3 {width: 1016px; height: 22px}
.u-section-2 .u-btn-4 {width: 1016px; height: 22px}
.u-section-2 .u-btn-5 {width: 1016px; height: 22px}
.u-section-2 .u-btn-6 {width: 1016px; height: 22px} }.u-section-3 .u-sheet-1 {min-height: 1255px}
.u-section-3 .u-text-1 {font-size: 1rem; margin: 0}
.u-section-3 .u-btn-1 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-2 {font-size: 1rem; margin: 17px auto 0 0}
.u-section-3 .u-btn-2 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-3 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-3 .u-btn-3 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-4 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-3 .u-btn-4 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-5 {font-size: 1rem; margin: 20px auto 0 0}
.u-section-3 .u-btn-5 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-6 {font-size: 1rem; margin: 56px 0 0}
.u-section-3 .u-btn-6 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-7 {font-size: 1rem; background-image: none; margin: 20px 0 56px}
.u-section-3 .u-btn-7 {font-size: 1.125rem; padding: 0}.u-section-4 {background-image: linear-gradient(#68086f, #db545a)}
.u-section-4 .u-sheet-1 {min-height: 296px}
.u-section-4 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 1.125rem; letter-spacing: 1px; background-image: none; margin: 44px auto 0}
.u-section-4 .u-text-1 {margin: 36px auto 43px}